@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-secondary{
  background: #95E52E;
}

.text-secondary{
  color: #95E52E;
}

.highlighted-cell{
  color: #171717;
  border: 4px dashed #95E52E;
}